In [6]:
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('/Users/rreilly/MSDS/msds621/MSDS621_Project/lyrics.csv')

In [8]:
df.groupby('genre').count()

                index    song    year  artist  lyrics
genre
Country         17286   17286   17286   17286   14387
Electronic      16205   16205   16205   16205    7966
Folk             3241    3241    3241    3241    2243
Hip-Hop         33965   33965   33965   33965   24850
Indie            5732    5732    5732    5732    3149
Jazz            17147   17145   17147   17147    7971
Metal           28408   28408   28408   28408   23759
Not Available   29814   29814   29814   29814   23941
Other           23683   23683   23683   23683    5189
Pop             49444   49444   49444   49444   40466
R&B              5935    5935    5935    5935    3401
Rock           131377  131377  131377  131377  109235

In [14]:
df2 = df[(df.genre == 'Country') | (df.genre == 'Metal') | (df.genre == 'Hip-Hop') | (df.genre == 'Jazz')
       | (df.genre == 'Electronic') ]
df2 = df2[pd.notnull(df2['lyrics'])]
df2 = df2[df2['genre']!= 'Not Available']
df2 = df2[df2['genre']!= 'Other']

In [15]:
df2.groupby('genre').count()

            index   song   year  artist  lyrics
genre
Country     14387  14387  14387   14387   14387
Electronic   7966   7966   7966    7966    7966
Hip-Hop     24850  24850  24850   24850   24850
Jazz         7971   7970   7971    7971    7971
Metal       23759  23759  23759   23759   23759

# pie chart

In [16]:
import plotly.plotly as py
#import plotly as py
import plotly.graph_objs as go

labels = ['Country','Electronic','Hip-Hop','Jazz','Metal']
values = [14387,7966,24850,7971,23759]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

#plotly.tools.set_credentials_file(username='', api_key='')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~rreilly3/0 or inside your plot.ly account where it is named 'basic_pie_chart'

In [17]:
import plotly.plotly as py
import plotly 
import plotly.graph_objs as go

labels = ['Country','Electronic', 'Folk', 'Hip-Hop', 'Indie', 'Jazz', 'Metal', 'Pop', 'R&B', 'Rock']
values = [14387,7966,2243,24850,3149,7971,23759, 40466,3401,109235]

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

#plotly.tools.set_credentials_file(username='', api_key='')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~rreilly3/0 or inside your plot.ly account where it is named 'basic_pie_chart'